.heading {
  text-align: center;
  font-size: 2.5rem;
  color: teal;
  margin: 15px;
  margin-bottom: 25px;
}




body {
  font-family: 'Nunito', sans-serif !important;
  background-color: #d8d0d0 !important;
}

::-webkit-scrollbar {
  width: 8px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: teal;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkcyan;
}

/* .toast {
  text-align: center;
} */