.heading {
  text-align: center;
  font-size: 2.5rem;
  color: teal;
  margin: 15px;
  margin-top: 0;
  padding: 10px;
  margin-bottom: 25px;
}




body {
  font-family: 'Nunito', sans-serif !important;
}

::-webkit-scrollbar {
  width: 8px;
}




/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: teal;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkcyan;
}

.day-theme {
  background-color: #d8d0d0 !important;
  height: 100%;
}

.night-theme {
  background-color: #1d2335 !important;
  height: 100%;
}

.right {
  float: right;
}

.right-btn {
  margin: 20px;
  margin-top: 5px;
}